<div class="bucket-container">
  <div class="header-with-clear">
    <h1>Your Bucket</h1>
    @if (storageService.bucketCount() > 0) {
      <p-button class="clear-bucket" (onClick)="onClear()" label="clear bucket" icon="pi pi-trash" text></p-button>
    }
  </div>

  @if (storageService.bucketCount() > 0) {
    <div class="bucket-content">
      <div class="items-list">
        @for (item of storageService.bucket(); track item.good.id) {
          <p-card class="bucket-item-card">
            <div class="bucket-item">
              <img [src]="item.good.imageUrl" [alt]="item.good.name" />
              <div class="item-info">
                <h3>{{ item.good.name }}</h3>
                <p>{{ item.good.price | currency }}</p>
              </div>
              <div class="item-controls">
                <div class="counter">
                  <p-button (onClick)="onDecrement(item.good.id)" [title]="item.count === 1 ? 'Remove' : 'Decrease'" [icon]="item.count === 1 ? 'pi pi-trash' : ''" [label]="item.count === 1 ? '' : '-'" [severity]="item.count === 1 ? 'danger' : 'secondary'" text></p-button>
                  <span>{{ item.count }}</span>
                  <p-button (onClick)="onIncrement(item.good.id)" label="+" title="Increase" severity="success" text></p-button>
                </div>
                <p-button class="remove-btn" (onClick)="onRemove(item.good.id)" title="Remove item from bucket" icon="pi pi-times" severity="danger" text></p-button>
              </div>
            </div>
          </p-card>
        }
      </div>

      <p-card class="bucket-summary-card" header="Summary">
        <div class="bucket-summary">
          <p>Total items: {{ storageService.bucketCount() }}</p>
          <p class="total">Total price: {{ getTotal() | currency }}</p>
          <p-button class="apply-btn" (onClick)="onApply()" label="Apply to Buy" icon="pi pi-check"></p-button>
        </div>
      </p-card>
    </div>
  } @else {
    <div class="empty-bucket">
      <p>Your bucket is empty. Go find something awesome!</p>
    </div>
  }

  @if (isApplying()) {
    <app-apply-form (cancelForm)="onCancelApply()" (submitOrder)="onSubmitOrder($event)" />
  }
</div>
