main {
  height: 100%;
  display: flex;
  gap: 2rem;
  padding: 1rem;

  &::-webkit-scrollbar {
    display: block;
    width: 0;
  }

  .filters {
    height: 100%;
    width: 250px;
  }

  .content {
    flex-grow: 1;

    .goods-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 1.5rem;
    }
  }
}

::ng-deep app-main {
  display: block;
  width: 100%;
  height: 100%;
}


