<div class="goods-tab-container">
    <div class="actions">
        <p-button class="btn btn-success" (onClick)="openAdd()" label="Add Item" icon="pi pi-plus"
                  severity="success"
        ></p-button>
        @if (authService.user()?.role === 'Admin') {
            <p-button class="btn btn-warning" (onClick)="isPriceModifierOpen.set(true)" label="Price Modifier"
                      icon="pi pi-percentage" severity="warn"
            ></p-button>
        }
    </div>

    <p-table [value]="storageService.goods()" [tableStyle]="{ 'min-width': '50rem' }" class="goods-table">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Name</th>
                <th>Short Description</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{ item.id }}</td>
                <td><img [src]="item.imageUrl" [alt]="item.name" class="small-img"/></td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.price | currency }}</td>
                <td class="action-icons">
                    <p-button (onClick)="openView(item)" title="View" icon="pi pi-eye" text></p-button>
                    <p-button (onClick)="openEdit(item)" title="Edit" icon="pi pi-pencil" text></p-button>
                    <p-button (onClick)="deleteItem(item.id)" title="Delete" icon="pi pi-trash" severity="danger"
                              text
                    ></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>

    @if (isEditorOpen()) {
        <app-good-editor [mode]="editorMode()"
                         [item]="selectedItem()"
                         (itemSave)="onSave($event)"
                         (modalClose)="isEditorOpen.set(false)"
        />
    }

    @if (isPriceModifierOpen()) {
        <app-price-modifier (applyModifier)="applyModifier($event)"
                            (modalClose)="isPriceModifierOpen.set(false)"
        />
    }
</div>
