.goods-tab-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;
    width: 100%;
    height: fit-content;
    flex-shrink: 0;

    ::ng-deep .file-upload {
      .p-fileupload-basic-content {
        & > span {
          display: none;
        }
      }

      .p-message {
        display: none;
      }
    }
  }

  .tables {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    min-height: 0;
    overflow-x: hidden;
    overflow-y: scroll;

    .goods-table {
      display: flex;
      width: 100%;
      min-width: 0;
      height: 100%;
    }

    .actions-table {
      position: relative;
      display: flex;
      flex-shrink: 0;
      width: fit-content;
      height: 100%;
    }

    .goods-table, .actions-table {
      position: relative;
      overflow-x: scroll;
      overflow-y: hidden;
      height: fit-content;

      ::ng-deep .p-datatable-table-container {
        overflow: unset !important;
        width: 100%;
        height: 100%;

        .p-datatable-table {
          width: 100%;
          min-width: 0 !important;
          table-layout: auto; /* Uses the automatic layout algorithm to fit content */

          .p-datatable-thead {
            tr {
              th {
                background-color: color-mix(in srgb, var(--p-datatable-header-cell-background), transparent 60%);
                backdrop-filter: blur(3px);
                min-width: fit-content;
                text-wrap-mode: nowrap;
              }
            }
          }

          .p-datatable-tbody {
            backdrop-filter: blur(3px);

            tr {
              background: none;

              td {
                background-color: color-mix(in srgb, var(--p-datatable-row-background), transparent 25%);
                backdrop-filter: blur(3px);
                align-items: center;
                text-align: center;
                height: 4rem;
                text-wrap-mode: nowrap;

                .small-img {
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  img {
                    height: 3rem;
                  }
                }

                .action-icons {
                  display: flex;
                  flex-direction: row;
                  gap: 0.5rem;
                  width: fit-content;
                }
              }
            }
          }
        }
      }
    }
  }
}