<div class="goods-tab-container">
    <div class="actions">
        <p-button class="btn btn-success"
                  icon="pi pi-plus"
                  size="small"
                  [rounded]="true"
                  [label]="'addGood' | lang: 'misc'"
                  (onClick)="openAdd()"
        ></p-button>
        @if (authService.user()?.role === 'Admin') {
            <p-button class="btn btn-warning"
                      icon="pi pi-percentage"
                      size="small"
                      [rounded]="true"
                      [label]="'modifyPrices' | lang: 'misc'"
                      (onClick)="isPriceModifierOpen.set(true)"
            ></p-button>
        }
    </div>

    <div class="tables">
        <p-table class="goods-table"
                 [value]="storageService.goods()"
        >
            <ng-template pTemplate="header">
                <tr>
                    @for (key of goodKeys; track key) {
                        @switch (key) {
                            @case ('deleted') {
                                <th>
                                    {{ ('profit' | lang: 'misc') + ' %' }}
                                </th>
                            }
                            @case ('nullPrice') {
                                <th>
                                    {{ (key | lang: 'good') }}
                                </th>
                            }
                            @case ('sellPrice') {
                                <th>
                                    {{ (key | lang: 'good') }}
                                </th>
                            }
                            @case ('wholePrice') {
                                <th>
                                    {{ (key | lang: 'good') }}
                                </th>
                            }
                            @case ('priceHistory') {
                            }
                            @case ('description') {
                            }
                            @case ('notes') {
                            }
                            @case ('storageType') {
                            }
                            @default {
                                <th>
                                    {{ key | lang: 'good' }}
                                </th>
                            }
                        }
                    }
                </tr>
            </ng-template>
            <ng-template pTemplate="body"
                         let-item
            >
                @for (num of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]; track num) {
                    <tr>
                        @for (key of goodKeys; track key) {
                            @switch (key) {
                                @case ('imageUrl') {
                                    <td>
                                        <div class="small-img">
                                            <img [src]="item[key]"
                                                 [alt]="item.name"
                                            />
                                        </div>
                                    </td>
                                }
                                @case ('nullPrice') {
                                    <td>
                                        {{ item[key] | currency: '₴' }}
                                    </td>
                                }
                                @case ('sellPrice') {
                                    <td>
                                        {{ item[key] | currency: '₴' }}
                                    </td>
                                }
                                @case ('wholePrice') {
                                    <td>
                                        {{ item[key] | currency: '₴' }}
                                    </td>
                                }
                                @case ('deleted') {
                                    <td>
                                        {{ ((item.sellPrice - item.nullPrice) / item.nullPrice) | currency: '₴' }}
                                    </td>
                                }
                                @case ('storage') {
                                    <td>
                                        {{ item[key] + ' ' + (item['storageType'] | lang: 'storageType') }}
                                    </td>
                                }
                                @case ('priceHistory') {
                                }
                                @case ('description') {
                                }
                                @case ('notes') {
                                }
                                @case ('storageType') {
                                }
                                @default {
                                    <td>
                                        {{ item[key] }}
                                    </td>
                                }
                            }
                        }
                    </tr>
                }
            </ng-template>
        </p-table>
        <p-table class="actions-table"
                 [value]="storageService.goods()"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        {{ ('actions' | lang: 'misc') }}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body"
                         let-item
            >
                @for (num of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]; track num) {
                    <tr>
                        <td>
                            <div class="action-icons">
                                <p-button (onClick)="openView(item)"
                                          title="View"
                                          icon="pi pi-eye"
                                          text
                                ></p-button>
                                <p-button (onClick)="openEdit(item)"
                                          title="Edit"
                                          icon="pi pi-pencil"
                                          text
                                ></p-button>
                                <p-button (onClick)="deleteItem(item.id)"
                                          title="Delete"
                                          icon="pi pi-trash"
                                          severity="danger"
                                          text
                                ></p-button>
                            </div>
                        </td>
                    </tr>
                }
            </ng-template>
        </p-table>
    </div>

    @if (isEditorOpen()) {
        <app-good-editor [(mode)]="editorMode"
                         [item]="selectedItem()"
                         (modalClose)="isEditorOpen.set(false)"
        />
    }

    @if (isPriceModifierOpen()) {
        <app-price-modifier (applyModifier)="applyModifier($event)"
                            (modalClose)="isPriceModifierOpen.set(false)"
        />
    }
</div>
