/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-image: url('./assets/images/main-bg.webp');
}

* {
  font-family: 'Inter', sans-serif;
}

.k-big-header {
  font-size: 30px;
  line-height: 34px;
  font-weight: bold;
  color: var(--p-primary-500)
}

.k-header {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}

.k-sub-header {
  font-size: 18px;
  line-height: 20px;
}

.k-label {
  font-size: 14px;
  line-height: 16px;
}

select:not(.disabled) {
  cursor: pointer;
}
