<div class="admin-container">
    <div class="tabs">
        <p-button-group>
            @for (tab of tabs(); track tab) {
                <p-button class="tab-button"
                          [outlined]="activeTab() !== tab"
                          [size]="'small'"
                          (click)="setTab(tab)"

                >
                    {{ tab | lang: 'adminTab' }}
                </p-button>
            }
        </p-button-group>
    </div>

    <div class="tab-content">
        @switch (activeTab()) {
            @case ('goods') {
                <app-goods-tab class="active-tab"/>
            }
            @case ('management') {
                <app-management-tab class="active-tab"/>
            }
            @case ('history') {
                <app-history-tab class="active-tab"/>
            }
            @case ('statistics') {
                <app-statistics-tab class="active-tab"/>
            }
        }
    </div>
</div>
