.modal-backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: color-mix(in srgb, var(--p-datatable-header-cell-background), transparent 15%);
    border: 1px solid var(--p-primary-900);
    padding: 1.5rem 2.5rem;
    border-radius: 1rem;
    max-height: 80vh;
    width: 500px;
    overflow-y: auto;

    .header {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: space-between;
      width: 100%;
    }

    .form-body {
      display: flex;
      flex-direction: column;
      align-content: center;
      gap: 0.5rem;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 0;
      }

      .form-group {
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 0.5rem;
      }
    }
  }
}