.modal-backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-content {
    display: flex;
    flex-direction: column;
    background-color: color-mix(in srgb, var(--p-datatable-header-cell-background), transparent 30%);
    padding: 1rem;
    border-radius: 1rem;

    .header {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: space-between;
      width: 100%;
    }
  }
}