.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  backdrop-filter: blur(3px);
  border-bottom: 1px solid hsla(0, 0%, 100%, .2);

  .logo {
    a {
      font-size: 1.5rem;
      font-family: Cinzel Decorative, cursive;
      color: #f2dea1;
    }
  }

  .store-nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: 100%;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      font-size: 1.1rem;
      font-weight: 500;
      color: hsla(0, 0%, 100%, .5);

      span {
        display: flex;
        align-items: center;
        height: 100%;
      }

      .underline {
        display: none;
      }

      &.active {
        color: #f2dea1;

        .underline {
          display: block;
          flex-shrink: 0;
          height: 4px;
          width: 100%;
          background-color: #f2dea1;
          border-radius: 4px;
        }
      }
    }
  }

  .nav-list {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
    align-items: center;

    .bucket-nav {
      .icon-link {
        position: relative;
        font-size: 1.25rem;
        display: flex;
        align-items: center;
      }

      .badge {
        position: absolute;
        top: -8px;
        right: -8px;
        background-color: red;
        border-radius: 50%;
        padding: 2px 6px;
        font-size: 0.75rem;
        font-weight: bold;
      }
    }

    .tg-auth-button {
      width: 2rem;
      height: 2rem;
    }

    .user-avatar {
      border-radius: 50%;
      cursor: pointer;
    }

    li {
      display: flex;
      align-items: center;
    }
  }

  a {
    text-decoration: none;
  }
}
