<header class="header">
    <div class="logo">
        <a routerLink="/">MIAR store</a>
    </div>

    <div class="store-nav">
        @for (tab of tabs; track tab) {
            @switch (tab) {
                @case ('store') {
                    <a routerLink="/"
                       routerLinkActive="active"
                       [routerLinkActiveOptions]="{ exact: true }"
                    >
                        <span>{{ tab | lang: 'headerTab' }}</span>
                        <div class="underline"></div>
                    </a>
                }
                @case ('admin') {
                    @if (authService.isLoggedIn() && authService.user()?.role === 'Admin') {
                        <a routerLink="/admin"
                           routerLinkActive="active"
                           [routerLinkActiveOptions]="{ exact: true }"
                        >
                            <span>{{ tab | lang: 'headerTab' }}</span>
                            <div class="underline"></div>
                        </a>
                    }
                }
                @default {
                    <!--will be added with more pages-->
                }
            }
        }
    </div>

    <div class="nav-list">
        <div class="bucket-nav">
            <p-button routerLink="/bucket"
                      icon="pi pi-shopping-cart"
                      text
                      [badge]="storageService.bucketCount() > 0 ? storageService.bucketCount().toString() : undefined"
                      badgeSeverity="danger"
            ></p-button>
        </div>
        @if (authService.isLoggedIn()) {
            <div>
                <p-button (onClick)="authService.logout()"
                          [label]="'logout' | lang: 'misc'"
                          icon="pi pi-sign-out"
                          text
                ></p-button>
            </div>
        }
        @if (!authService.isLoggedIn()) {
            <div>
                <button class="tg-auth-button"
                        data-style="icon"
                >
                    Sign In with Telegram
                </button>
            </div>
        } @else {
            <div>
                <img [ngSrc]="authService.user()!.avatar"
                     alt="User Info"
                     class="user-avatar"
                     (mouseup)="navigateToUser()"
                     width="32" height="32"
                >
            </div>
        }
    </div>
</header>
